# Data files that can be re[downloaded|produced].
# Excluding song_data should cover pretty much all of them but include the filetypes for completeness sake
song_data/
txt_to_*/*.txt
*.pdf
*.mp3
*.aup
*.au
.DS_Store

# This isn't ideal since ideally we'd preserve the amplitude alterations we do to the mp3s before
# exporting as wav but these files are straight out too big to include in a repo at scale
*.wav

txt_to_*/*.svg
